In [4]:
from elasticsearch_dsl import connections,Index,Document,Text,Integer,Boolean,Keyword

In [5]:
connections.create_connection(hosts=['http://localhost:9200/'])

创建Document

In [6]:
# 定义索引和映射
class Books(Document):
    title = Text()
    description = Text()
    category = Keyword()
    price = Integer()
    in_stock = Boolean()
    
    class Index:
        name = 'books'

读取数据，构建文档

In [7]:
import pandas as pd

df_books = pd.read_excel('./data/books.xlsx', sheet_name='Sheet1')
df_books

  title description category  price  in_stock
0   西游记     由明代作家创作       小说     10     False
1   红楼梦     由清代作家创作       小说     20      True
2  三国演义  由明代作家施耐庵创作       小说     30     False
3   水浒传    由明代作家罗创作       小说     40      True

In [8]:
data = df_books.iloc[0,:]
book = Books(title=data.title, description=data.description, category=data.category, price=data.price, in_stock=data.in_stock)
book

Books()

批量保存

In [10]:
for id, row in df_books.iterrows():
    book = Books(title=data.title, description=data.description, category=data.category, price=data.price, in_stock=data.in_stock)
    book.save()